body {
  font-family: Helvetica, sans-serif;
}

.link, .heading, .head2, .footer {
  color:white;
}

.heading, h2, .sub, .head2 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  text-align: center;
}

.sub, .head2 {
  font-size: 23px;
}

.link {
  font-size: 18px;
}
.heading, .head2 {
  text-align: center;
}

h2 {
  font-size: 32px;
}

.heading, .head2 {
  background-image: url('../images/the-flatiron-building.png');
}

.footer {
  font-size: 11px;
  background-color: dimgray;
}
.white {
  text-align: center;
}

p {
  font-size: 14px;

}
